.contacthead {
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url('../images/header-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .orange {
    color: $orange;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      margin: 0 auto;
      font-family: "Lato", sans-serif;
      font-size: 60px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 45px;
      letter-spacing: 2.2px;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    }
  }
}

.about-us-content {

  box-shadow: inset 0 0 5px #495a64;

  .about-block-content {
    margin: 70px auto;

    h1 {
      color: $blue;
    }

    p {
      margin-bottom: 40px;
      color: $darkGrey;
    }

    h4 {
      margin-bottom: 20px;
      color: $blue;
    }
  }
}