.contacthead {
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url('../images/header-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .orange {
    color: $orange;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      margin: 0 auto;
      font-size: 60px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 2.2px;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    }
  }
}

.contact-form {
  box-shadow: inset 0 0 5px $darkGrey;
  background: #fafafc;

  .loginform {
    margin: 70px auto;
    background: #fafafc;
    padding: 40px 40px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      margin: 30px auto;
    }

    #reg-form {

      .form-group {
        margin-bottom: 20px;
        width: 100%;

        label {
          color: $blueGrey;
          display: inline-block;
          max-width: 100%;
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 14px;

          .red {
            color: $orange;
          }
        }

        .form-control {
          font-size: 16px;
          opacity: 0.6;
          background: $white;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          border: none;
          padding: 7px 10px;
          height: 45px;
          box-shadow: inset 0 0 3px $orange;

          &:focus {
            box-shadow: inset 0 0 4px $blue;
          }
        }
      }

      .form-group-captcha {
        margin: 0 auto;
      }

      .btn {
        border-radius: 0;
        font-weight: 700;
        text-transform: uppercase;
      }

      .btn-primary {
        color: white;
        margin: 20px auto;
        border-radius: 25px;
        background-color: $orange;
        border-color: $orange;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;

        &:hover {
          color: $white;
          background-color: $blue;
          border-color: $blue;

        }
      }
    }
  }

  .contact-form-right {
    padding: 130px 0 0 100px;

    @include media-breakpoint-down(lg) {
      padding: 130px 0 0;
    }

    @include media-breakpoint-down(md) {
      padding: 90px 0 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 25px 70px;
    }

    h3 {
      color: $blue;
    }

    p {
      color: $darkGrey;
      margin: 1rem 0;
    }

    a {
      color: $orange;

      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      margin: 1.8rem 0 2.9rem;
    }
  }
}