.faq-head {
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url('../images/header-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .orange {
    color: $orange;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      margin: 0 auto;
      font-size: 60px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 2.2px;
      text-transform: uppercase;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

      @include media-breakpoint-down(sm) {
        font-size: 50px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 40px;
      }
    }
  }
}

.faq-block-content {
  margin: 60px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    margin: 50px;
  }

  @include media-breakpoint-down(xs) {
    margin: 30px 5px;
  }

  .card {
    border: none;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    .card-header {
      background-color: #fafafc;
      border: none;

      a {
        color: $black;
        font-size: 24px;
        margin: 30px 0 10px;
        letter-spacing: 0.02em;
        font-weight: bolder;

        @include media-breakpoint-down(md) {
          font-size: 22px;
        }

        .faq-rotate-icon {
          color: $orange;
          float: right;
        }

        &:hover {
          color: $blue;
        }

        &:focus {
          color: $blue;
        }

        i {
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }

    .card-body {
      background-color: #fafafc;
      font-size: 18px;
      color: $darkGrey;
    }
  }
}