.featureshead {
  position: relative;
  display: table;
  width: 100%;
  height: 465px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url('../images/header-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .orange {
    color: $orange;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      width: 100%;
      font-size: 60px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 2.2px;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

      @include media-breakpoint-down(sm) {
        margin-bottom: 100px;
      }
    }
  }
}

.features-main-content {

  .features-nav-block {
    margin-top: -85px;

    @include media-breakpoint-down(md) {
      margin-top: -60px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: -120px;
    }

    .features-nav {
      margin: 0 auto;

      .features-nav-btn {
        cursor:pointer;
        height: 170px;
        color: #555;
        background: $white;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

        @include media-breakpoint-down(md) {
          height: 120px;
        }

        &:hover {
          color: #fff;
          background: $orange;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .features-fa {
          margin-top: 40px;
          opacity: 0.6;

          @include media-breakpoint-down(md) {
            margin-top: 20px;
            font-size: 40px;
          }

          @include media-breakpoint-down(xs) {
            margin-top: 20px;
            font-size: 30px;
          }
        }

        .fa-descr {
          margin-top: 5%;
          font-weight: 600;
          opacity: 1;

          @include media-breakpoint-down(md) {
            font-size: 14px;
          }

          @include media-breakpoint-down(xs) {
            margin-top: 10px;
          }
        }
      }

      .active {
        color: #fff;
        background: $orange;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .features-menu-content {
    width: 100%;

    h1 {
      text-align: center;
      margin-top: 100px;

      @include media-breakpoint-down(md) {
        margin-top: 70px;
      }
    }
  }
}

.features-macbook {
  margin-top: 30px;
  position: relative;
  display: table;
  width: 100%;
  height: 585px;
  text-align: center;
  color: #fff;
  background: url('../images/four-options-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    height: 500px;
  }

  @include media-breakpoint-down(xs) {
    height: 400px;
  }


  .features-buttons {
    margin: 50px 0 0;
    display: inline-flex;

    @include media-breakpoint-down(md) {
      margin: 60px 0 0;
    }

    div {
      margin: 10px;
    }

    .features-btn {
      color: $black;
      font-weight: 700;
      font-size: 15px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 13px 32px;
      border: 2px solid $black;
      background-color: $shadow;
      border-radius: 30px;
      letter-spacing: 0.03em;

      @include media-breakpoint-down(xs) {
        padding: 10px;
        font-size: 12px;
      }

      &:hover{
        color: $white;
        border: 2px solid $orange;
        background-color: $orange;
        transition: width .3s ease-in-out;
      }
    }
  }
}

.features-last-layer {
  height: 80px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    height: 70px;
  }

  @include media-breakpoint-down(xs) {
    height: 60px;
  }

  .img-last-layer {
    padding-top: 20px;
    text-align: center;
  }
}