.features-content {
  margin-top: 50px;

  .features-content-title {
    color: $blue;
  }

  .features-nokidding {
    color: $darkGrey;
    margin: 30px auto;
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    line-height: 45px;

    @include media-breakpoint-down(md) {
      font-size: 24px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }

  .features-content-container {
    margin-top: 100px;
    width: 90%;

    @include media-breakpoint-down(md) {
      margin-top: 70px;
    }

    .features-content-table {
      padding: 20px;

      @include media-breakpoint-down(md) {
        padding: 10px;
      }

      .img-wrap {
        margin: 10px 0 0 5px;

        @include media-breakpoint-down(md) {
          width: 25%;
        }

        @include media-breakpoint-down(sm) {
          width: 15%;
        }
      }

      .txt-wrap {
        padding: 0 20px 0;

        div {
          color: $blue;
          font-size: 25px;

          @include media-breakpoint-down(md) {
            font-size: 20px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }

        p {
          color: $darkGrey;

          @include media-breakpoint-down(xl) {
            font-size: 18px;
          }

          @include media-breakpoint-down(md) {
            font-size: 16px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }
        }
      }
    }

    .features-content-bordleft {
      border-left: 2px solid #eceeef;

      @include media-breakpoint-down(xs) {
        border: none;
      }
    }

    .features-content-bordtop {
      border-top: 2px solid #eceeef;

      @include media-breakpoint-down(xs) {
        border: none;
      }
    }

    .features-bottom-picture {
      margin: 100px auto;
    }

    .img-table-wrap {
      margin: 40px 0 0 80px;

      @include media-breakpoint-down(sm) {
        margin: 50px 0 0 40px;
      }
    }

    .features-bottom-block {
      width: 100%;
      height: 50px;
    }
  }
}
