.footer-wrapper {
  margin: 0 auto;
  background-color: $footerBg;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .footer-content {
    padding-top: 70px;
  }

  h3 {
    color: $white;
    font-size: 25px;
    letter-spacing: 0;
  }

  .grey {
    color: $blueGrey;
  }

  .footer-findmore-col {
    padding-left: 40px;

    @include media-breakpoint-down(xs) {
      padding: 0;
    }

    ul {
      margin-left: 0;
      padding-left: 0;
    }

    .footer-list {
      list-style-position: inside;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      list-style-type: none;
      padding-top: 10px;
      width: 80%;

      @include media-breakpoint-down(md) {
        padding-top: 5px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 10px;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        width: 100%;
      }

      li {
        a {
          color: $blueGrey;
          font-size: 15px;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .footer-contact-col {
    text-align: center;

    @include media-breakpoint-down(xs) {
      padding-top: 20px;
    }

    .footer-location {
      padding-top: 10px;
      letter-spacing: 0.1px;
      color: $white;
      font-size: 15px;
      margin: 0;

      span {
        margin-right: 3px;
      }
    }

    .footer-txt {
      color: $blueGrey;
      font-size: 14px;
      padding: 5px 0 0 20px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin: 0;

      @include media-breakpoint-down(sm) {
        padding: 10px 0 0;
      }
    }

    .footer-mail {
      font-size: 15px;
      padding-top: 10px;
      line-height: 20px;
      margin: 0;

      span {
        margin-right: 3px;
      }

      i {
        vertical-align: middle;
      }

      a {
        color: $orange;

        &:hover {
          opacity: 0.9;
          text-decoration: underline;
        }
      }
    }
  }

  .footer-social-col {
    .footer-btn {
      @include media-breakpoint-down(md) {
        float: none;
        padding: 10px 0 0 20px;
      }

      @include media-breakpoint-down(sm) {
        float: none;
        padding: 4% 0 0;
      }

      a {
        @extend %btn;
        margin: 0 auto;
        padding: 13px 25px;

        @include media-breakpoint-down(lg) {
          padding: 12px 20px;
        }

        @include media-breakpoint-down(md) {
          padding: 10px 5px;
        }

        @include media-breakpoint-down(sm) {
          padding: 10px 25px;
        }
      }
    }
  }
}

.connect-txt {
  color: $blueGrey;
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.ico-list .nav-link {
  padding: 5px;

  img {
    width: 35px;
  }
}

.last-txt {
  padding-top: 50px;
  color: $blueGrey;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.01px;
  margin-bottom: 50px;

  a {
    margin: 0;
    border-right: 1px solid $darkGrey;
    padding: 0 7px;
    color: $blueGrey;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.01px;

    &:last-child {
      border: none;
    }

    &:hover {
      color: $white;
    }
  }
}

.hr-mini {
  margin: 1.5% auto;
}