.masthead {
  position: relative;
  display: table;
  width: 100%;
  height: 740px;
  text-align: center;
  color: $white;
  background: url('../images/header-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include media-breakpoint-down(lg) {
    height: 620px;
  }

  @include media-breakpoint-down(md) {
    height: 500px;
  }

  @include media-breakpoint-down(sm) {
    height: 750px;
  }

  .brand-heading {
    padding-left: 5%;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    line-height: 45px;
    letter-spacing: 2.2px;
    text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

    @include media-breakpoint-down(xl) {
      width: 85%;
    }

    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
      line-height: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.4px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 1px;
    }
  }

  .brand-list {
    color: #ced0d5;
    margin: 20px 0 0 -20px;
    text-align: left;
    line-height: 29px;
    font-size: 20px;
    list-style-type: none;
    text-transform: inherit;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

    @include media-breakpoint-down(lg) {
      font-size: 19px;
    }

    @include media-breakpoint-down(md) {
      margin: 10px 0 0 -30px;
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin: 10px 0 0 -14%;
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
      margin: 10px 0 0 -32px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 14px;
      margin: 10px 0 0 -20px;
    }

    li {
      padding-left: 5px;

      i {
        color: grey;
        margin-right: 10px;
      }
    }
  }
}

.about-us-content {
  text-align: left;
}

.top-body {
  .home-main-list {
    margin-top: 200px;

    @include media-breakpoint-down(xl) {
      margin-top: 210px;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 180px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 140px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 70px;
    }

    .setup-text {
      margin: 20px 0 0 40px;

      @include media-breakpoint-down(lg) {
        margin: 10px 0 0 90px;
      }

      @include media-breakpoint-down(md) {
        margin: 10px 0 0 55px;
      }

      @include media-breakpoint-down(sm) {
        margin: 10px 0 0 20px;
      }

      @media only screen and (max-width: $small) {
        margin: 10px 0 0 65px;
      }

      i {
        vertical-align: middle;
        font-size: 18px;
        color: #ced0d5;

        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
      }
    }

    .text-arrow {
      float: right;
      width: 75px;
      margin: -85px 80px 0 0;

      @include media-breakpoint-down(lg) {
        width: 60px;
        margin: -70px 40px 0 0;
      }

      @include media-breakpoint-down(md) {
        width: 50px;
        margin: -58px 35px 0 0;
      }

      @include media-breakpoint-down(sm) {
        margin: -60px 50px 0 0;
      }

      @media only screen and (max-width: $small) {
        width: 45px;
        margin: -55px 20px 0 0;
      }

      img {
        vertical-align: baseline;
        margin-left: 10px;

        @include media-breakpoint-down(md) {
          width: 60px;
        }
      }
    }
  }

  .brand-btn {
    padding-left: 20px;
    margin-top: 40px;

    @include media-breakpoint-down(md) {
      padding-left: 10px;
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 5px;
      margin-top: 10px;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 15px;
      margin-top: 20px;
    }

    li {
      margin: auto 6px;
    }

    a {
      @extend %btn;

      @include media-breakpoint-down(md) {
        font-size: 10px;
        padding: 8px 20px;
      }

      @include media-breakpoint-down(sm) {
        padding: 8px 10px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 12px;
        padding: 8px;
      }
    }
  }

  .home-macbook-cut {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -50px;
    padding: 0;

    @include media-breakpoint-down(lg) {
      width: 600px;
      margin-bottom: -39px;
    }

    @include media-breakpoint-down(md) {
      width: 500px;
      margin-bottom: -32px;
    }

    @include media-breakpoint-down(sm) {
      width: 370px;
      margin-bottom: -24px;
    }
  }

  .video {
    position: absolute;
    bottom: 68px;
    right: 2px;
    width: 80%;
    height: 85%;

    @include media-breakpoint-down(lg) {
      bottom: 52px;
    }

    @include media-breakpoint-down(md) {
      bottom: 44px;
    }

    @include media-breakpoint-down(sm) {
      bottom: 32px;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.repair {
  background-color: $grey;
  height: 140px;

  @include media-breakpoint-down(md) {
    height: 120px;
  }

  @include media-breakpoint-down(xs) {
    height: 70px;
  }

  .img-repair {
    padding-top: 60px;
    text-align: center;

    @include media-breakpoint-down(xs) {
      padding-top: 20px;
    }
  }
}

.nokidding {
  width: 75%;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  font-size: 34px;
  font-weight: 300;
  line-height: 45px;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
    padding: 55px 0;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
    padding: 40px 0;
  }

  @include media-breakpoint-down(xs) {
    font-size: 20px;
    padding: 30px 0 10px;
  }
}

.imgshadow img{
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.img-signature {
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
  text-align: center;
}

.websites-section {
  .websites-pic {
    margin-top: 35px;
  }

  .websites-title {
    @extend %tableTitle;
    margin-left: 5%;
    padding-top: 60px;

    @include media-breakpoint-down(lg) {
      padding-top: 35px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 30px;
    }
  }

  .websites-explain {
    @extend %tableExplain;
    margin-left: 5%;

    @include media-breakpoint-down(lg) {
      padding-top: 0;
    }
  }

  .websites-list {
    padding-top: 20px;
    margin-left: -10px;

    @include media-breakpoint-down(lg) {
      padding-top: 10px;
      margin-left: -17px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 5px;
      margin-left: -23px;
    }

    ul {
      list-style-position: inside;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      list-style-type: none;
    }

    li {
      margin: 0;
      padding: 0;
      line-height: 1.8em;
      color: $blueGrey;
      font-size: 17px;
      font-weight: 700;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }

      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
  }
}

.websites-btn {
  padding-top: 10px;
  margin-left: 5%;

  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  a {
    @extend %btn-grey;
  }
}

.business-section {
  padding-top: 150px;

  @include media-breakpoint-down(lg) {
    padding-top: 140px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 120px;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 90px;
  }

  .business-content {
    .business-title {
      @extend %tableTitle;
      padding-top: 20px;

      @include media-breakpoint-down(lg) {
        padding-top: 0;
      }

      @include media-breakpoint-down(xs) {
        margin-left: 15px;
        padding-top: 50px;
      }
    }

    .business-explain {
      @extend %tableExplain;
      width: 90%;

      @include media-breakpoint-down(xs) {
        margin-left: 15px;
      }
    }

    .business-list {
      padding-top: 20px;
      margin-left: -40px;

      @include media-breakpoint-down(xs) {
        margin-left: -25px;
      }

      ul {
        list-style-position: inside;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        list-style-type: none;
      }

      li {
        margin: 0;
        padding: 0;
        line-height: 1.8em;
        color: $blueGrey;
        font-size: 17px;
        font-family: $Lato;
        font-weight: 700;

        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }

        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
      }
    }
  }
}

.business-content .business-btn {
  padding-top: 10px;

  @include media-breakpoint-down(xs) {
    margin-left: 15px;
  }

  a {
    @extend %btn-grey;
  }
}

.business-section .business-content .img-signature {
  font-size: 16px ;
  font-weight: 700;
  padding-top: 15px;
  text-align: center;
}

.marketing-section {
  padding-top: 150px;

  @include media-breakpoint-down(lg) {
    padding-top: 140px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 120px;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 90px;
  }

  .marketing-title {
    @extend %tableTitle;
    margin-top: 20px;
    padding-left: 10%;

    @include media-breakpoint-down(xs) {
      margin-top: 40px;
      padding-left: 5%;
    }
  }

  .marketing-explain {
    @extend %tableExplain;
    padding-left: 10%;
    width: 85%;

    @include media-breakpoint-down(xs) {
      padding-left: 5%;
      width: 100%;
    }
  }

  .marketing-list {
    padding-top: 20px;
    margin-left: 10%;

    @include media-breakpoint-down(lg) {
      margin-left: 10%;
    }

    @include media-breakpoint-down(md) {
      padding-top: 10px;
      margin-left: 10%;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 5%;
    }

  }

  .marketing-list {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.8em;
      color: $blueGrey;
      font-size: 17px;
      font-weight: 700;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }

      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
  }

  .marketing-btn {
    padding-top: 20px;
    margin-left: 10%;

    @include media-breakpoint-down(md) {
      padding: 20px 0 50px;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 5%;
    }

    a {
      @extend %btn-grey;
      padding: 13px 45px;

      @include media-breakpoint-down(md) {
        padding: 10px 40px 8px;
      }
    }
  }
}

#four-options {
  position: relative;
  width: 100%;
  color: $white;
  background: url('../images/four-options-bg.png') no-repeat center top scroll;
  background-size: cover;
  padding: 140px 0 90px;

  @include media-breakpoint-down(xs) {
    padding: 90px 0;
  }

  .nokidding {
    color: $darkGrey;
    text-align: center;
    padding: 90px 0;
    font-size: 34px;
    font-weight: 300;
    font-family: $Lato;
    line-height: 45px;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      width: 80%;
      font-size: 24px;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      font-size: 20px;
    }
  }

  .home-table-options {
    width: 90%;
    margin: 0 auto;

    .home-content-table {
      padding: 40px 20px;

      @include media-breakpoint-down(sm) {
        padding: 10px;
      }

      .img-wrap {
        margin: 10px 0 0 5px;
        float: left;

        @include media-breakpoint-down(md) {
          width: 25%;
        }

        @include media-breakpoint-down(sm) {
          width: 15%;
        }
      }

      .txt-wrap {
        padding: 0 20px 0;
        display: table-cell;

        div {
          color: $blue;
          font-size: 25px;

          @include media-breakpoint-down(md) {
            font-size: 20px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }

        p {
          color: $darkGrey;
          padding-top: 2px;

          @include media-breakpoint-down(xl) {
            font-size: 18px;
          }

          @include media-breakpoint-down(md) {
            font-size: 16px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }
        }
      }
    }

    .home-content-bordleft {
      border-left: 2px solid #eceeef;

      @include media-breakpoint-down(xs) {
        border: none;
      }
    }

    .home-content-bordtop {
      border-top: 2px solid #eceeef;

      @include media-breakpoint-down(xs) {
        border: none;
      }
    }
  }
}

.home-faq-section .home-faq-content {
  text-align: center;

  h3 {
    color: $black;
    font-size: 33px;
    padding: 80px 0 40px;
    font-weight: 300;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 28px;
      padding: 60px 0 30px;
    }
  }

  #home-faq-accordion {
    .card {
      border: none;

      .card-header {
        background-color: #fafafc;

        a {
          color: $black;
          font-size: 24px;
          margin: 30px 0 10px;
          letter-spacing: 0.02em;
          font-weight: bolder;

          @include media-breakpoint-down(md) {
            font-size: 22px;
          }

          &:hover {
            color: $blue;
          }

          &:focus {
            color: $blue;
          }
        }
      }

      #home-heading-five {
        border: none;
      }

      .card-body {
        background-color: #fafafc;
        font-size: 18px;
        color: $darkGrey;
      }
    }
  }
}

.home-faq-content .frequently-btn {
  padding: 40px 0 80px;

  @include media-breakpoint-down(md) {
    padding: 30px 0 60px;
  }

  a {
    @extend %btn-grey;

    padding: 13px 42px;
    margin: 0 auto;
  }
}