.sign-in-modal {
  box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.1);

  .title {
    color: $blue;
    font-size: 20px;
    text-align: center;
    margin: 50px 0 30px;
  }

  .interface {
    margin: 0 20px;

    .services {
      text-align: center;

      .service {
        background-color: #EEE;
        border-color: #DDD;
        border-radius: 25px;
        background-repeat: repeat-x;
        color: $darkGrey;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
        width: 90%;
        padding: 0.095em;

        @include media-breakpoint-down(md) {
          width: 80%;
        }

        &:hover {
          opacity: 0.8;
        }

        .logo {
          width: 40px;
          border-right: 1px solid;
          border-color: inherit;
          border-radius: 25px;
          display: inline-block;
          font-size: 26px;
          font-weight: normal;
          height: 40px;
          margin-right: 50px;
          vertical-align: sub;
          -webkit-font-smoothing: antialiased;

          @include media-breakpoint-down(sm) {
            margin-right: 30px;
          }

          @include media-breakpoint-down(xs) {
            margin-right: 10px;
          }
        }
      }

      .facebook {
        color: #3b5998;
        padding: 6px 11px;
      }

      .google {
        color: #dd4b39;
        padding: 7px 4px;
      }
    }
  }

  .separator {
    border-left: 1px solid $grey;

    @include media-breakpoint-down(md) {
      border: none;
    }

    form {
      width: 90%;
      margin: 0 auto;

      @include media-breakpoint-down(md) {
        width: 80%;
        margin-top: 30px;
      }

      .form-control {
        margin-bottom: 10px;
        font-size: 16px;
        opacity: 0.6;
        background: $white;
        border-radius: 5px;
        border: none;
        padding: 7px 10px;
        height: 45px;
        box-shadow: inset 0 0 3px $orange;

        &:focus {
          box-shadow: inset 0 0 4px $blue;
        }
      }

      .remember_me {
        color: $darkGrey;
        opacity: 0.3;
        margin-left: 5px;
        font-size: 14px;
        vertical-align: baseline;
      }

      .btn-block {
        border-radius: 25px;
        background: $orange;
        border-color: $orange;

        &:hover {
          background: $blue;
          border-color: $blue;
        }
      }

      .btn-lg {
        margin-top: 15px;
        padding: 7px;
       }
    }

    .secure-disclaimer {
      margin-top: 5px;
      color: $darkGrey;
      opacity: 0.4;
      font-size: 11px;
    }

    .cancel {
      margin-top: 10px;
      color: $darkGrey;
      opacity: 0.7;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .assistance {
    text-align: center;
    width: 100%;
    margin: 40px auto;
    font-size: 14px;

    .forgot_password {
      margin: 5px auto;

      a {
        color: $darkGrey;
        opacity: 0.5;

        &:hover {
          color: $blue;
          opacity: 0.9;
        }
      }
    }

    .question-text {
      color: $darkGrey;
    }
  }
}

.sign-up-dialog {
  max-width: 420px;

  .sign-up-modal {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.1);

    .title {
      color: $blue;
      font-size: 20px;
      text-align: center;
      margin: 50px 0 20px;
    }

    form {
      width: 80%;
      margin: 0 auto;

      p {
        color: $blueGrey;
        text-align: center;
        font-size: 14px;
        opacity: 0.8;
      }

      label {
        font-size: 14px;
        color: #999;
        display: inline-block;
        margin-bottom: 5px;

        .orange {
          color: $orange;
        }
      }

      .form-control {
        margin-bottom: 10px;
        font-size: 16px;
        opacity: 0.6;
        background: $white;
        border-radius: 5px;
        border: none;
        padding: 7px 10px;
        height: 45px;
        box-shadow: inset 0 0 3px $orange;

        &:focus {
          box-shadow: inset 0 0 4px $blue;
        }
      }

      #recaptcha_widget {
        padding: 20px 0 10px 15px;

        @include media-breakpoint-down(xs) {
          padding: 20px 0 10px;
        }
      }

      .btn-block {
        border-radius: 25px;
        background: $orange;
        border-color: $orange;

        &:hover {
          background: $blue;
          border-color: $blue;
        }
      }

      .btn-lg {
        margin-top: 15px;
        padding: 7px;
      }

      .sign-up-cancel {
        text-align: center;
        margin: 20px 0 50px;

        .cancel {
          margin-top: 10px;
          color: $darkGrey;
          opacity: 0.7;
          font-size: 16px;
          font-weight: 600;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
