#mainNav {
  position: absolute;
  padding: 0;
  font-family: $Lato;
  -webkit-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
  -moz-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
  transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
  letter-spacing: 1px;

  @include media-breakpoint-down(sm) {
    position: relative;
    background: linear-gradient(to bottom right,#1e2a34,#3e4753,#47525f);
  }

  .img-logo {
    padding-top: 10px;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 15px;
    }
  }

  button {
    @include media-breakpoint-down(xs) {
      margin-right: 15px;
    }
  }

  ul {
    margin-top: 10px;
    text-align: center;

    &>.or {
      margin: 12px 0 0;
      padding: 0;
      color: $white;
      font-family: $Lato;
      font-size: 13px;
      font-weight: bold;

      @include media-breakpoint-down(md) {
        margin: 10px 0 0;
        font-size: 10px;
        font-weight: 500;
      }

      @include media-breakpoint-down(sm) {
        margin: 8px 0 6px;
        font-size: 16px;
      }
    }

    li {
      margin-left: 15px;

      @include media-breakpoint-down(lg) {
        margin-left: 10px;
      }

      @include media-breakpoint-down(md) {
        margin-left: 0;
      }

      &:last-child {
        margin-left: 0;
      }

      a {
        color: $white;
        font-family: $Lato;
        font-size: 17px;
        font-weight: 500;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: initial;

        @include media-breakpoint-down(lg) {
          font-size: 16px;
        }

        @include media-breakpoint-down(md) {
          font-size: 12px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 20px;
          letter-spacing: 2px;
          border-bottom: 2px solid $orange;
        }

        &.nonbord {
          @include media-breakpoint-down(sm) {
            border: none;
          }
        }

        &:after {
          display: block;
          content: "";
          height: 3px;
          width: 0;
          background-color: $orange;
          transition: width .3s ease-in-out;
        }

        &:hover:after,
        &:focus:after {
          width: 100%;
        }
      }

      &.sign {
        margin-top: 3px;

        a {
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 16px 3px;
          border: 2px solid $orange;
          background-color: $orange;
          text-transform: uppercase;
          border-radius: 20px;
          letter-spacing: initial;

          @include media-breakpoint-down(md) {
            font-size: 12px;
            font-weight: 600;
            padding: 2px 10px 0;
          }

          @include media-breakpoint-down(sm) {
            font-size: 16px;
            padding: 8px 90px 0;
          }

          &:hover {
            color: $white;
            border: 2px solid $white;
            background-color: $shadow;
            transition: width .3s ease-in-out;
          }

          &:after {
            background-color: $shadow;
          }

          &.sin {
            margin-right: 10px;

            @include media-breakpoint-down(md) {
              margin-right: 5px;
            }

            @include media-breakpoint-down(sm) {
              margin: 10px 0 0;
            }
          }

          &.sup {
            margin-left: 10px;

            @include media-breakpoint-down(md) {
              margin-left: 5px;
            }
            @include media-breakpoint-down(sm) {
              margin: 0 0 50px;
            }
          }
        }
      }
    }
  }
}