.pricehead {
  position: relative;
  display: table;
  width: 100%;
  height: 465px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url('../images/header-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .orange {
    color: $orange;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      margin: 10px auto;
      padding-top: 85px;
      font-size: 60px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 45px;
      letter-spacing: 2.2px;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

      @include media-breakpoint-down(md) {
        font-size: 50px;
      }
    }

    .nokidding {
      margin: 30px auto;
      padding: 0;
    }
  }
}

.pricing-check {
  padding-top: 50px;

  .start-select {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 30px auto;

    @include media-breakpoint-down(xs) {
      width: 90%;
    }
  }

  .pricing-singup {
    padding-top: 10px;
    text-align: center;
    width: 100%;

    @include media-breakpoint-down(xs) {
      padding-top: 60px;
    }

    .interface {
      form {
        width: 45%;
        margin: 0 auto;
        text-align: left;

        @include media-breakpoint-down(md) {
          width: 65%;
        }

        @include media-breakpoint-down(sm) {
          width: 70%;
        }

        @include media-breakpoint-down(xs) {
          width: 85%;
        }

        label {
          color: #708593;
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 14px;

          .orange {
            color: $orange;
          }
        }

        input {
          margin-bottom: 10px;
        }

        .form-control {
          font-size: 16px;
          opacity: .6;
          background: #fff;
          border-radius: 5px;
          border: none;
          padding: 7px 10px;
          height: 45px;
          -webkit-box-shadow: inset 0 0 3px #ff6026;
          box-shadow: inset 0 0 3px #ff6026;

          &:focus {
            -webkit-box-shadow: inset 0 0 4px #3372ba;
            box-shadow: inset 0 0 4px #3372ba;
          }
        }

        button {
          margin-top: 50px;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          border-radius: 25px;
          background-color: #ff6026;
          border-color: #ff6026;
          -webkit-transition: all .35s;
          transition: all .35s;

          &:hover {
            color: #fff;
            background-color: #3372ba;
            border-color: #3372ba;
          }
        }
      }

      .secure-connection {
        color: #495a64;
        opacity: .4;
        margin-top: 8px;
        font-size: 12px;
      }
    }
  }
}

.price-check {
  width: 100%;
  text-align: center;

  ul {
    margin-left: -40px;

    @include media-breakpoint-down(xs) {
      margin-left: -20px;
    }

    .price-checkbox {
      border: 2px solid #d5dade;
      padding: 6px 30px 0 10px;
      border-radius: 25px;
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      @include media-breakpoint-only(md) {
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-right: 0;
      }

      .styled-checkbox {
        position: absolute;
        opacity: 0;

        & + label {
          position: relative;
          cursor: pointer;
          margin-bottom: .4rem;
          padding: 0;

          > span {
            font-size: 20px;
            color: $darkGrey;
            vertical-align: text-top;

            @media (max-width: $small) {
              font-size: 18px;
            }
          }
        }

        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 32px;
          height: 32px;
          background: #d5dade;
          border: 2px solid #d5dade;
          border-radius: 16px;
        }

        &:hover + label:before {
          background: $orange;
        }

        &:focus + label:before {
          box-shadow: 0 0 0 3px rgba(213, 218, 222, 0.4);
        }

        &:checked + label:before {
          background: $orange;
        }

        &:checked + label:after {
          content: '';
          position: absolute;
          left: 10px;
          top: 15px;
          background: #fafafc;
          width: 4px;
          height: 4px;
          box-shadow:
                  2px 0 0 #fafafc,
                  4px 0 0 #fafafc,
                  4px -2px 0 #fafafc,
                  4px -4px 0 #fafafc,
                  4px -6px 0 #fafafc,
                  4px -8px 0 #fafafc;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.start-content {
  margin-top: 70px;

  .start-check {
    margin-top: 30px;

    @include media-breakpoint-down(lg) {
      margin-top: 5px;
    }

    @include media-breakpoint-down(md) {
      margin-top: -5px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: -30px;
    }

    .start-title {
      @extend %tableTitle;
      margin-left: 40px;

      @include media-breakpoint-down(sm) {
        margin-left: 20px;
      }

      @include media-breakpoint-down(xs) {
        margin-left: 0;
        text-align: center;
      }
    }

    .start-explain {
      @extend %tableExplain;
      margin-left: 40px;

      @include media-breakpoint-down(sm) {
        margin-left: 20px;
      }

      @include media-breakpoint-down(xs) {
        margin-left: 0;
        text-align: center;
      }
    }

    .start-list {
      padding-top: 10px;
      color: $darkGrey;
      line-height: 35px;
      font-size: 20px;
      text-transform: inherit;
      list-style-type: none;

      @include media-breakpoint-down(md) {
        padding-top: 0;
        line-height: 22px;
        font-size: 16px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: -20px;
      }

      @include media-breakpoint-down(xs) {
        margin-left: -40px;
        text-align: center;
      }
    }
  }

  .price-mac {
    @include media-breakpoint-down(xs) {
      padding-top: 40px;
    }

    img {
      float: right;
    }
  }
}

#start-switch {
  .nokidding {
    padding-top: 70px;

    @include media-breakpoint-down(xs) {
      width: 90%;
      padding: 70px 0 40px;
    }
  }

  .switch {
    position: relative;
    height: 50px;
    width: 450px;
    margin: 20px auto;
    background: rgba(250, 250, 252, 1);
    border-radius: 25px;
    box-shadow: inset 0 0 8px rgba(217, 217, 217, 1), 0 2px rgba(255, 255, 255, 0.1);

    @include media-breakpoint-down(xs) {
      width: 290px;
    }
  }

  .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 225px;
    line-height: 46px;
    font-size: 18px;
    color: rgba(217, 217, 217, 1);
    text-align: center;
    text-shadow: 0 1px 1px rgba(139, 210, 219, 0.45);
    cursor: pointer;

    @include media-breakpoint-down(xs) {
      width: 145px;
      font-size: 14px;
    }
  }

  .switch-label:active {
    font-weight: bold;
  }
  .switch-label-off {
    padding: 2px 0 0 2px;
  }

  .switch-label-on {
    padding: 2px 0 0 2px;
  }

  .switch-input {
    display: none;
  }

  .switch-input:checked + .switch-label {
    font-weight: bold;
    color: $white;
    transition: 0.15s ease-out;
    transition-property: color, text-shadow;
  }

  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 223px;

    @include media-breakpoint-down(xs) {
      left: 143px;
    }
  }

  .switch-selection {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    display: block;
    width: 225px;
    height: 46px;
    border-radius: 25px;
    background-color: $orange;
    background-image: linear-gradient(to top, #fb6e3c, #FF6026);

    @include media-breakpoint-down(xs) {
      width: 145px;
    }
  }

}

.threewebsite {
  padding: 60px 0;

  @include media-breakpoint-down(xs) {
    padding: 20px 0;
  }

  .site-select-responsive {
    @include media-breakpoint-down(md) {
      margin-top: 60px;
    }
  }

  .site-select {
    color: $mGrey;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    height: 550px;
    width: 310px;
    background: $white;
    border: 1px solid #d9d9d9;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      width: 290px;
    }

    &:hover {
      color: $white;
      background: #58bee8;
    }

    .black {
      color: $black;
    }

    .site-title {
      color: $black;
      font-size: 27px;
      font-weight: 600;
      margin-top: 20px;

      &:hover {
        color: $white;
      }

      span {
        border-bottom: 2px dotted #d9d9d9;
        padding: 0 40px 22px;
      }

    }

    .price {
      margin-top: 28px;

      .orange-price {
        color: $orange;
        font-size: 40px;
        font-weight: 600;
      }

      .price-monthly {
        font-size: 24px;
      }
    }

    .small {
      color: $orange;
      font-size: 16px;
      font-weight: 600;

      span {
        border-bottom: 2px dotted #d9d9d9;
        padding: 0 40px 22px;
      }
    }

    .first-unlimited {
      margin-top: 35px;

      span {
        border-top: 2px dotted #d9d9d9;
        padding: 22px 40px 0;
      }
    }

    .center-unlimited {
      margin: 10px auto;
    }

    .last-unlimited {
      span {
        border-bottom: 2px dotted #d9d9d9;
        padding: 0 40px 22px;
      }
    }

    .price-decrip {
      margin-top: 35px;
      line-height: 2.1em;
    }
  }
}

.pricing-four-options {
  position: relative;
  width: 100%;
  color: $white;
  background: url('../images/four-options-bg.png') no-repeat center top scroll;
  background-size: cover;
  padding: 180px 0 90px;

  @include media-breakpoint-down(xs) {
    padding: 90px 0;
  }

  .nokidding {
    color: $darkGrey;
    text-align: center;
    padding: 90px 0;
    font-size: 34px;
    font-weight: 300;
    line-height: 45px;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      width: 80%;
      font-size: 24px;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      font-size: 20px;
    }
  }

  .price-table-options {
    width: 90%;
    margin: 0 auto;

    .price-content-table {
      padding: 40px 20px;

      @include media-breakpoint-down(sm) {
        padding: 10px;
      }

      .img-wrap {
        margin: 10px 0 0 5px;
        float: left;

        @include media-breakpoint-down(md) {
          width: 25%;
        }

        @include media-breakpoint-down(sm) {
          width: 15%;
        }
      }

      .txt-wrap {
        padding: 0 20px 0;
        display: table-cell;

        div {
          color: $blue;
          font-size: 25px;

          @include media-breakpoint-down(md) {
            font-size: 20px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }

        p {
          color: $darkGrey;
          padding-top: 2px;

          @include media-breakpoint-down(xl) {
            font-size: 18px;
          }

          @include media-breakpoint-down(md) {
            font-size: 16px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }
        }
      }
    }

    .price-content-bordleft {
      border-left: 2px solid #eceeef;

      @include media-breakpoint-down(xs) {
        border: none;
      }
    }

    .price-content-bordtop {
      border-top: 2px solid #eceeef;

      @include media-breakpoint-down(xs) {
        border: none;
      }
    }
  }
}

.price-last-layer {
  height: 80px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    height: 60px;
  }

  .img-last-layer {
    padding-top: 20px;
    margin: 0 auto;
  }
}

.sign-up-dialog-modal {
  max-width: 552px;

  .error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }

  form {
    width: 70% !important;

    button {
      margin-bottom: 30px;
    }
  }
}