@charset "UTF-8";
@import "fonts";

$OpenSans: 'Open Sans', sans-serif;
$Lato: 'Lato', sans-serif;
$prefixes: "-webkit-","-o-","-moz-","-ms-";
$footerBg: #212a31;
$black: #474242;
$white: #fff;
$orange:  #FF6026;
$grey: #F2F5F7;
$mGrey: #737373;
$darkGrey: #495a64;
$blue: #3372ba;
$blueGrey: #708593;
$shadow: #fff0;
$small: 320px;

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #fafafc;
  font-family: $Lato;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

%btn {
  color: $white;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 32px;
  border: 2px solid $orange;
  background-color: $orange;
  border-radius: 30px;
  letter-spacing: 0.03em;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
    padding: 11px 30px;
  }

  @include media-breakpoint-down(md) {
    font-size: 12px;
    padding: 9px 24px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 10px;
    padding: 8px 14px;
  }

  &:hover {
    border: 2px solid $white;
    background-color: $shadow;
    transition: width .3s ease-in-out;
  }
}

%btn-grey {
  color: $blueGrey;
  font-family: $Lato;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 23px;
  border: 2px solid $blueGrey;
  background-color: $shadow;
  border-radius: 30px;
  letter-spacing: 0.03em;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
    padding: 12px 20px 10px;
  }

  @include media-breakpoint-down(md) {
    font-size: 13px;
    padding: 10px 15px 8px;
  }

  &:hover {
    opacity: 0.5;
    transition: width .3s ease-in-out;
  }
}

%tableTitle {
  font-size: 35px;
  font-weight: 600;
  color: $blue;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }

  @include media-breakpoint-down(md) {
    font-size: 25px;
  }
}

%tableExplain {
  font-family: $Lato;
  font-size: 26px;
  font-weight: 500;
  color: $darkGrey;
  letter-spacing: 0.025em;
  line-height: 33px;

  @include media-breakpoint-down(lg) {
    font-size: 24px;
  }

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

%tableA {
  a {
    color: $blueGrey;
    font-size: 17px;
    font-family: $Lato;
    font-weight: 700;
    margin: 0;
    padding: 0;

    &:hover {
      color: $orange;
    }
  }
}

