.supporthead {
  position: relative;
  display: table;
  width: 100%;
  height: 465px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url('../images/header-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .orange {
    color: $orange;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      margin-top: 40px;
      font-size: 60px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 2.2px;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    }

    #support-search {
      margin-top: 50px;

      .search {
        width: 50%;
        position: relative;
        margin: 0 auto;

        @include media-breakpoint-down(lg) {
          width: 60%;
        }

        @include media-breakpoint-down(sm) {
          width: 90%;
        }
      }

      .search input {
        border: none;
      }

      .search .input {
        width: 100%;
        padding: 15px 37px 16px 35px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 40px;
        background: #fff;
        color: #555;
        outline: none;
      }

      .search .input:focus {
        background: #E8E8E8;
        color: #333;
      }

      .search .submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 75px;
        height: 100%;
        cursor: pointer;
        background: url('../images/search-btn.png') 50% no-repeat;
        opacity: 1;
      }

      .search .submit:hover {
        opacity: 0.8;
      }

      input[type="search"] {
        -webkit-appearance: none;
      }
    }
  }
}

.support-main-content {
  width: 50%;
  margin: 0 auto;

  @include media-breakpoint-down(lg) {
    width: 70%;
  }

  @include media-breakpoint-down(sm) {
    width: 90%;
  }

  .support-nav-block {
    margin-top: -85px;

    @include media-breakpoint-down(md) {
      margin-top: -60px;
    }

    .support-nav {
      margin: 0 auto;

      .support-nav-btn {
        cursor:pointer;
        height: 170px;
        color: #555;
        background: $white;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

        @include media-breakpoint-down(md) {
          height: 120px;
        }

        &:hover {
          color: #fff;
          background: $orange;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .features-fa {
          margin-top: 40px;
          opacity: 0.6;

          @include media-breakpoint-down(md) {
            margin-top: 20px;
            font-size: 40px;
          }

          @include media-breakpoint-down(xs) {
            margin-top: 20px;
            font-size: 30px;
          }
        }

        .fa-descr {
          margin-top: 5%;
          font-weight: 600;
          opacity: 1;

          @include media-breakpoint-down(md) {
            font-size: 14px;
          }

          @include media-breakpoint-down(xs) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.support-post {
  margin-top: 100px;

  @include media-breakpoint-down(md) {
    margin-top: 70px;
  }

  .support-nokidding {
    width: 75%;
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    line-height: 45px;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
      padding: 55px 0;
    }

    @include media-breakpoint-down(md) {
      font-size: 24px;
      padding: 40px 0;
    }

    @include media-breakpoint-down(xs) {
      font-size: 20px;
      padding: 30px 0 10px;
    }
  }

  .support-title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: $blue;
  }

  .support-post-list {
    width: 100%;

    .support-ul {
      list-style: none;
      margin: 0 auto;
      width: 75%;
      padding-top: 2%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .support-blue-list {
        color: $blue;
        font-size: 24px;
        padding: 25px 0 0 10px;
      }

      li {
        margin-left: -5%;
        border-bottom: 1px solid #e5e5e5;
      }

      .li-border-bottom {
        color: $darkGrey;
        opacity: 0.9;
        font-size: 18px;
        padding: 0 0 25px 10px;

        .post-created-date {
          float: right;
          font-size: 14px;
          opacity: 0.9;

          @include media-breakpoint-down(sm) {
            font-size: 12px;
          }

          i {
            color: $orange;
            margin: 0 2px 0 8px;
          }
        }
      }
    }
  }

  .support-see-more {
    text-align: center;
    padding: 90px 0 40px;

    a {
      color: $darkGrey;
      opacity: 0.8;
      font-weight: 700;
      font-size: 17px;
      text-decoration: none;
      padding: 13px 60px;
      border: 2px solid #e5e5e5;
      background-color: $shadow;
      border-radius: 30px;
      letter-spacing: 0.03em;

      &:hover {
        border: 2px solid $orange;
        background-color: $orange;
        opacity: 1;
        transition: width .3s ease-in-out;
      }
    }
  }
}

.support-macbook {
  margin-top: 30px;
  position: relative;
  display: table;
  width: 100%;
  height: 585px;
  text-align: center;
  color: #fff;
  background: url('../images/four-options-bg.png') no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    height: 500px;
  }

  @include media-breakpoint-down(xs) {
    height: 400px;
  }

  .support-buttons {
    margin: 50px 0 0;
    display: inline-flex;

    @include media-breakpoint-down(md) {
      margin: 60px 0 0;
    }

    div {
      margin: 10px;
    }

    .support-btn {
      color: $black;
      font-weight: 700;
      font-size: 15px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 13px 32px;
      border: 2px solid $black;
      background-color: $shadow;
      border-radius: 30px;
      letter-spacing: 0.03em;

      @include media-breakpoint-down(xs) {
        padding: 10px;
        font-size: 12px;
      }

      &:hover {
        color: $white;
        border: 2px solid $orange;
        background-color: $orange;
        transition: width .3s ease-in-out;
      }
    }
  }
}

.support-last-layer {
  height: 80px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    height: 70px;
  }

  @include media-breakpoint-down(xs) {
    height: 60px;
  }

  .img-last-layer {
    padding-top: 20px;
    text-align: center;
  }
}