<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="3web1">
        <title>{{ site.title|e('html') }} / {{ header.title|e('html') }}</title>
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        {#Build bundle.js#}
        {% block javascripts %}
            {% do assets.addJs('theme://build/bundle.js', 101) %}
        {% endblock %}
        {{ assets.js() }}
        {#Build style.css#}
        {% block stylesheets %}
            {% do assets.addCss('theme://build/style.css', 100) %}
        {% endblock %}
        {{ assets.css() }}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        {#Modal#}
        {% include 'partials/modal.html.twig' %}
        {#Navigation#}
        {% include 'partials/navigation.html.twig' %}
        {#Content#}
        {% block content %}
        {% endblock %}
        {#Footer#}
        {% include 'partials/footer.html.twig' %}
    </body>
</html>