<section class="footer-wrapper">
    <div class="container">
        <div class="row footer-content">
            <div class="col-md-4 col-sm-6 col-xs-6 footer-findmore-col">
                <h3>Find out more</h3>
                <ul class="footer-list">
                    <li><a href="{{ url ('pricing') }}">Prices</a></li>
                    <li><a href="{{ url ('features/websites') }}">Features</a></li>
                    <li><a href="{{ url ('faq') }}">FAQs</a></li>
                    <li><a href="{{ url ('support') }}">Support</a></li>
                    <li><a href="{{ url ('terms-condition') }}">Terms & Condition</a></li>
                    <li><a href="{{ url ('privacy-policy') }}">Privacy Policy</a></li>
                    <li><a href="{{ url ('contact-us') }}">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 footer-social-col">
                <div class="nav footer-btn">
                    <a href="{{ url ('pricing') }}" class="nav-link">FREE 14 DAY TRIAL</a>
                </div>
                <div class="col-12">
                    <h4 class="connect-txt">Connect with us</h4>
                </div>
                <div class="col-12">
                    <ul class="nav justify-content-center ico-list">
                        <li><a href="https://www.facebook.com/3web1" class="nav-link" target="_blank"><img src="{{ url('theme://images/facebook-ico.png', true) }}" alt="ico"></a></li>
                        <li><a href="https://twitter.com/3web1" class="nav-link" target="_blank"><img src="{{ url('theme://images/tw-ico.png', true) }}" alt="ico"></a></li>
                        <li><a href="https://www.instagram.com/3web1" class="nav-link" target="_blank"><img src="{{ url('theme://images/insta-ico.png', true) }}" alt="ico"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 footer-contact-col">
                <h3>Contact Us</h3>
                <p class="footer-location">
                    <span class="grey">
                            <i class="fa fa-map-marker fa-fw"></i>
                        </span>South Florida, USA
                </p>
                <p class="footer-txt">3440 Hollywood Blvd<br>Hollywood, FL 33021</p>
                <p class="footer-mail">
                    <span class="grey">
                        <i class="fa fa-envelope fa-fw"></i>
                    </span>
                    <a href="mailto:support@3web1.com">support@3web1.com</a>
                </p>
            </div>
            <div class="col-12">
                <div class="last-txt">
                    Copyright &copy 2018 3web1.com All rights reserved.
                    <a href="{{ url ('privacy-policy') }}">Privacy Policy</a>
                    <a href="{{ url ('terms-condition') }}">Terms of Use</a>
                    <a href="#">Legal</a>
                    <a href="#">Site Map</a>
                </div>
            </div>
        </div>
    </div>
</section>