<!-- Modal Sign in -->
<div class="modal fade bd-example-modal-lg sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="LargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content sign-in-modal">
            <div class="title">Sign in to 3web1</div>
            <div class="interface">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 services">
                        <a href="#" class="btn service">
                            <span class="logo facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></span>
                            <span title="Sign in with Facebook">Sign in with Facebook</span>
                        </a>
                        <a href="#" class="btn service">
                            <span class="logo google"><i class="fab fa-google-plus-g" aria-hidden="true"></i></span>
                            <span title="Sign in with Google">Sign in with Google</span>
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 services separator">
                        <form action="#" id="login-form" data-toggle="validator" method="post" accept-charset="UTF-8">
                            <input type="email" class="form-control" placeholder="Email" name="user[email]" size="30">
                            <input type="password" class="form-control" placeholder="Password" id="user_password" name="user[password]" size="30">
                            <input id="remember_me" name="remember_me" type="checkbox" value="1">
                            <label for="remember_me" class="remember_me">Stay signed in</label>
                            <button class="btn btn-primary btn-block btn-lg" type="submit">Sign in</button>
                        </form>
                        <div class="secure-disclaimer">
                            Your credentials will be sent over a secure connection
                        </div>
                        <div class="cancel">
                            <a href="/hc" class="cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                        </div>
                    </div>
                    <div class="assistance">
                        <div class="forgot_password">
                            <a href="#">Forgot my password</a>
                        </div>
                        <span class="question-text">New to 3web1?</span>
                        <a href="#">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Sign up -->
<div class="modal fade bd-example-modal-md sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="SmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md sign-up-dialog">
        <div class="modal-content sign-up-modal">
            <div class="title">Sign up to 3web1</div>
            <form action="#" id="registration-form" data-toggle="validator" method="post" accept-charset="UTF-8">
                <p>
                    Please fill out this form, and we'll send you a <br> welcome email so you can verify your email <br> address and sign in.
                </p>
                <fieldset>
                    <label for="user_name">Your full name <span class="orange">*</span></label>
                    <input type="name" class="form-control" id="user_name" name="user[name]" placeholder="Name" size="30">
                    <label for="user_email">Your email <span class="orange">*</span></label>
                    <input type="email" class="form-control" name="user[email]" placeholder="Email" size="30">
                    <div id="recaptcha_widget">
                      <div class="g-recaptcha" data-sitekey="6Le0Q0oUAAAAALeWG7dJf_uq782P0i4Y2jx-wwVu"></div>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg" type="submit">Sign up</button>
                    <div class="sign-up-cancel">
                        <a href="/hc" class="cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
