<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
            <img class="img-logo" src="{{ url('theme://images/3web1-logo.png', true) }}" alt="3web1" title="3web1"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url == '' ? '/' : base_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url ('about-us') }}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url ('features/websites') }}">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url ('pricing') }}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url ('support') }}">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nonbord" href="{{ url ('contact-us') }}">Contact us</a>
                </li>
                <li class="nav-item sign">
                    <a class="nav-link sin" href="https://3w1.website/admin/dashboard">sign in</a>
                </li>
                <li class="nav-item or">
                    Or
                </li>
                <li class="nav-item sign">
                    <a class="nav-link sup" href="/pricing">sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>