{% extends 'partials/base.html.twig' %}
{% block content %}
    <header class="contacthead">
        <div class="intro-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="brand-heading">About <span class="orange">Us</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="about-us-content">
        <div class="container">
            <div class="row">
                <div class="about-block-content">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}