{% extends 'features.html.twig' %}
{% block feature_content %}
    <div class="features-content">
        <h1 class="features-content-title">{{ header.business_management.title }}</h1>
        <div class="features-nokidding">{{ page.content }}</div>
        <div class="container features-content-container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 features-content-table">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_one|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_one }}</div>
                        <p>{{ header.business_management.description.text_one }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_two|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_two }}</div>
                        <p>{{ header.business_management.description.text_two }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_three|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_three }}</div>
                        <p>{{ header.business_management.description.text_three }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop features-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_four|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_four }}</div>
                        <p>{{ header.business_management.description.text_four }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_five|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_five }}</div>
                        <p>{{ header.business_management.description.text_five }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop features-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_six|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_six }}</div>
                        <p>{{ header.business_management.description.text_six }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_seven|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_seven }}</div>
                        <p>{{ header.business_management.description.text_seven }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop features-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_eight|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_eight }}</div>
                        <p>{{ header.business_management.description.text_eight }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_nine|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_nine }}</div>
                        <p>{{ header.business_management.description.text_nine }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop features-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.business_management.description.img_ten|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.business_management.description.title_ten }}</div>
                        <p>{{ header.business_management.description.text_ten }}</p>
                    </div>
                </div>
                <div class="features-bottom-block"></div>
            </div>
        </div>
    </div>
{% endblock %}
