{% extends 'partials/base.html.twig' %}
{% block content %}
    {{ page.content }}
    <header class="contacthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="brand-heading">Contact <span class="orange">Us</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                    <div class="loginform">
                        <form action="#" id="reg-form" name="reg-form" data-toggle="validator" method="post" accept-charset="UTF-8">
                            <div class="row">
                                <div class="col-xs-12 form-group">
                                    <label> Your name <span class="red">*</span></label>
                                    <input type="text" name="name" value class="form-control" placeholder="Enter your name" required>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <label> Your email <span class="red">*</span></label>
                                    <input type="email" name="email" value class="form-control" placeholder="Enter your email address" required>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <label> Your message <span class="red">*</span></label>
                                    <textarea name="message" class="form-control" style="height: 150px;" placeholder="Enter your message" required></textarea>
                                </div>
                                <div id="recaptcha_widget" class="form-group-captcha">
                                    <div class="g-recaptcha" data-sitekey="6Le0Q0oUAAAAALeWG7dJf_uq782P0i4Y2jx-wwVu"></div>
                                </div>
                                <div class="col-xs-12 btn-block">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-form-right">
                        <h3>{{ header.contact.main_location }}</h3>
                        <p><i class="fa fa-map-marker fa-fw"></i> {{ header.contact.main_address }}</p>
                        <a href="mailto:{{ header.contact.main_email }}"><i class="fa fa-envelope fa-fw"></i> {{ header.contact.main_email }}</a>
                        <hr>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26081603.294420466!2d-95.677068!3d37.06250000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1484135442263" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}