{% extends 'partials/base.html.twig' %}
{% block content %}
    <header class="faq-head">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <h1 class="brand-heading">Frequently asked <span class="orange">Questions ?</span></h1>
                </div>
            </div>
        </div>
    </header>
    <section id="faq-content">
        <div class="container">
            <div class="row">
                <div class="faq-block-content">
                    {% if header.faq_question.one != '' %}
                        <div class="accordion" id="faq-accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                {% if header.faq_question.one != '' %}
                                    <div class="card-header" role="tab" id="headingOne">
                                        <a data-toggle="collapse" data-parent="#faq-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <div class="mb-0">
                                                {{ header.faq_question.one }}
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.one }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.two != '' %}
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <div class="mb-0">
                                                {{ header.faq_question.two }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.two }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.three != '' %}
                                    <div class="card-header" role="tab" id="headingThree">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <div class="mb-0">
                                                {{ header.faq_question.three }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.three }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.four != '' %}
                                    <div class="card-header" role="tab" id="headingFour">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <div class="mb-0">
                                                {{ header.faq_question.four }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.four }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.five != '' %}
                                    <div class="card-header" role="tab" id="headingFive">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            <div class="mb-0">
                                                {{ header.faq_question.five }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.five }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.six != '' %}
                                    <div class="card-header" role="tab" id="headingSix">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            <div class="mb-0">
                                                {{ header.faq_question.six }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.six }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.seven != '' %}
                                    <div class="card-header" role="tab" id="headingSeven">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            <div class="mb-0">
                                                {{ header.faq_question.seven }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.seven }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.eight != '' %}
                                    <div class="card-header" role="tab" id="headingEight">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            <div class="mb-0">
                                                {{ header.faq_question.eight }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.eight }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.nine != '' %}
                                    <div class="card-header" role="tab" id="headingNine">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                            <div class="mb-0">
                                                {{ header.faq_question.nine }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.nine }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.ten != '' %}
                                    <div class="card-header" role="tab" id="headingTen">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                            <div class="mb-0">
                                                {{ header.faq_question.ten }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.ten }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.eleven != '' %}
                                    <div class="card-header" role="tab" id="headingEleven">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                            <div class="mb-0">
                                                {{ header.faq_question.eleven }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.eleven }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card">
                                {% if header.faq_question.twelve != '' %}
                                    <div class="card-header" role="tab" id="headingTwelve">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                            <div class="mb-0">
                                                {{ header.faq_question.twelve }} <span class="faq-rotate-icon"><i class="fa fa-angle-down rotate-icon"></i></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            {{ header.faq_answer.twelve }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}