{% extends 'partials/base.html.twig' %}
{% block content %}
    <header class="featureshead">
        <div class="intro-body">
            <div class="container">
                <div class="brand-heading">FEAT<span class="orange">URES</span></div>
            </div>
        </div>
    </header>
    <section class="features-main-content">
        <div class="container features-nav-block">
            <div class="row features-nav">
                {% set icons = {
                    'websites.md' : 'far fa-window-maximize',
                    'website-management.md' : 'far fa-window-restore',
                    'marketplace-selling.md' : 'fas fa-shopping-cart',
                    'marketing-seo.md' : 'fas fa-chart-line',
                    'business-management.md' : 'fas fa-suitcase',
                    'support-center.md' : 'fas fa-question-circle'
                } %}
                {% for page in pages.children %}
                    {% for feature in page.children %}
                        {% set active_page = (feature.active or feature.activeChild) ? 'active' : '' %}
                        {% if feature.visible %}
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 features-nav-btn {{ active_page }}" onClick="document.location='{{ feature.url }}'">
                                <div><i class="{{ icons[feature.name] }} fa-3x features-fa" aria-hidden="true"></i></div>
                                <div class="fa-descr">{{ feature.title }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="features-menu-content">
                    {% block feature_content %}
                        {{ page.content }}
                    {% endblock %}
                </div>
                <div class="nokidding">
                    Try free for 14-days. You can change plans anytime. No Credit card required.
                </div>
            </div>
        </div>
    </section>
    <section class="features-macbook">
        <div class="container">
            <div>
                <img src="{{ url('theme://images/macbook-pro.png', true) }}" alt="macbook">
            </div>
            <div class="features-buttons">
                <div><a href="{{ url ('features/websites') }}" class="features-btn">See all Features</a></div>
                <div><a href="{{ url ('pricing') }}" class="features-btn">Free 14 Day trial</a></div>
            </div>
        </div>
    </section>
    <section class="features-last-layer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="img-last-layer">
                        <img src="{{ url('theme://images/price-last-layer.png', true) }}" alt="repair">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}