{% extends 'partials/base.html.twig' %}
{% block content %}
<!--Intro Header-->
<header class="masthead">
    <div class="container">
        <div class="row top-body">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 home-main-list">
                <h1 class="brand-heading">{{ page.content }}</h1>
                <ul class="brand-list">
                    {% for homelist in page.header.homelist %}
                        {% if homelist != '' %}
                            <li><i class="far fa-check-circle"></i> {{ homelist }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="nav brand-btn">
                    <li><a href="{{ url ('features/websites') }}" class="nav-link">features</a></li>
                    <li><a href="{{ url ('pricing') }}" class="nav-link">free 14 day trial</a></li>
                </ul>
                <div class="setup-text"><i>Setup in 5 minutes </i></div>
                <div class="text-arrow"><img src="{{ url('theme://images/arrow.png', true) }}" alt="arrow"></div>
            </div>
            <div class="home-macbook-cut">
                <div>
                    <img src="{{ url('theme://images/macbook-cut.png', true) }}" class="img-responsive" alt="macbook">
                </div>
                <div class="video">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/{{ page.header.video_link }}?modestbranding=1&amp;autoplay=0&amp;loop=1&amp;playlist={{ page.header.video_link }}&amp;mute=0&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;fs=1&amp;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Repaire Section -->
<section class="repair">
    <div class="container">
        <div class="row repair-content">
            <div class="img-repair">
                <img src="{{ url('theme://images/repair-icons.png', true) }}" alt="repair" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<!-- Websites Section -->
<section id="websites" class="websites-section">
    <div class="container">
        <div class="row">
            <div class="nokidding">
                {{ page.header.promo_text }}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="websites-pic">
                    <div class="imgshadow img-responsive">{{ page.media[header.websites_image|first.name] }}</div>
                    <p class="img-signature">{{ page.header.websites_image_caption }}</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="websites-title">{{ page.header.websites_title }}</div>
                <div class="websites-explain">{{ page.header.websites_explain }}</div>
                <div class="websites-list">
                    <ul>
                        {% for websiteslist in page.header.websiteslist %}
                            {% if websiteslist != '' %}
                                <li><i class="far fa-check-circle"></i> {{ websiteslist }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="nav websites-btn">
                    <a href="{{ url ('features/websites') }}" class="nav-link">MORE FEATURES</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Business Section -->
<section id="business" class="business-section">
    <div class="container">
        <div class="row business-content">
            <div class="col-xl-6 order-xl-last col-lg-6 order-lg-last col-md-6 order-md-last col-sm-6 order-sm-last col-xs-6">
                <div class="imgshadow img-responsive">{{ page.media[header.business_image|first.name] }}</div>
                <p class="img-signature">{{ page.header.business_image_caption }}</p>
            </div>
            <div class="col-xl-6 order-xl-first col-lg-6 order-lg-first col-md-6 order-md-first col-sm-6 order-sm-first col-xs-6">
                <div class="business-title">{{ page.header.business_title }}</div>
                <div class="business-explain">{{ page.header.business_explain }}</div>
                <div class="business-list">
                    <ul>
                        {% for businesslist in page.header.businesslist %}
                            {% if businesslist != '' %}
                                <li><i class="far fa-check-circle"></i> {{ businesslist }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="nav business-btn">
                    <a href="{{ url ('features/business-management') }}" class="nav-link">MORE FEATURES</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Marketing Section -->
<section id="marketing" class="marketing-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="imgshadow img-responsive">{{ page.media[header.marketing_image|first.name] }}</div>
                <p class="img-signature">{{ page.header.marketing_image_caption }}</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="marketing-title">{{ page.header.marketing_title }}</div>
                <div class="marketing-explain">{{ page.header.marketing_explain }}</div>
                <div class="marketing-list">
                    <ul>
                        {% for marketinglist in page.header.marketinglist %}
                            {% if marketinglist != '' %}
                                <li><i class="far fa-check-circle"></i> {{ marketinglist }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="nav marketing-btn">
                    <a href="{{ url ('features/marketing-seo') }}" class="nav-link">AND MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Four-options Section -->
<section id="four-options">
    <div class="container">
        <div class="nokidding">
            {{ page.header.promo_text }}
        </div>
        <div class="row home-table-options">
            <div class="col-sm-6 col-xs-12 home-content-table">
                <div class="img-wrap">
                    {{ page.media[header.options_icon_one|first.name] }}
                </div>
                <div class="txt-wrap">
                    <div>{{ page.header.options_title_one }}</div>
                    <p>{{ page.header.options_text_one }}</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 home-content-table home-content-bordleft">
                <div class="img-wrap">
                    {{ page.media[header.options_icon_two|first.name] }}
                </div>
                <div class="txt-wrap">
                    <div>{{ page.header.options_title_two }}</div>
                    <p>{{ page.header.options_text_two }}</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 home-content-table home-content-bordtop">
                <div class="img-wrap">
                    {{ page.media[header.options_icon_three|first.name] }}
                </div>
                <div class="txt-wrap">
                    <div>{{ page.header.options_title_three }}</div>
                    <p>{{ page.header.options_text_three }}</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 home-content-table home-content-bordleft home-content-bordtop">
                <div class="img-wrap">
                    {{ page.media[header.options_icon_four|first.name] }}
                </div>
                <div class="txt-wrap">
                    <div>{{ page.header.options_title_four }}</div>
                    <p>{{ page.header.options_text_four }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Frequently Section -->
<section id="frequently" class="home-faq-section">
    <div class="container home-faq-content">
        <h3>Frequently Asked Questions</h3>
        {% if header.home_faq_question.one != '' %}
            <div class="accordion" id="home-faq-accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    {% if header.home_faq_question.one != '' %}
                        <div class="card-header" role="tab" id="home-heading-one">
                            <a data-toggle="collapse" data-parent="#home-faq-accordion" href="#home-collapse-one" aria-expanded="true" aria-controls="home-collapse-one">
                                <div class="mb-0">
                                    {{ header.home_faq_question.one }}
                                </div>
                            </a>
                        </div>
                        <div id="home-collapse-one" class="collapse show" role="tabpanel" aria-labelledby="home-heading-one" data-parent="#home-faq-accordion">
                            <div class="card-body">
                                {{ header.home_faq_answer.one }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card">
                    {% if header.home_faq_question.two != '' %}
                        <div class="card-header" role="tab" id="home-heading-two">
                            <a class="collapsed" data-toggle="collapse" data-parent="#home-faq-accordion" href="#home-collapse-two" aria-expanded="false" aria-controls="home-collapse-two">
                                <div class="mb-0">
                                    {{ header.home_faq_question.two }}
                                </div>
                            </a>
                        </div>
                        <div id="home-collapse-two" class="collapse" role="tabpanel" aria-labelledby="home-heading-two" data-parent="#home-faq-accordion">
                            <div class="card-body">
                                {{ header.home_faq_answer.two }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card">
                    {% if header.home_faq_question.three != '' %}
                        <div class="card-header" role="tab" id="home-heading-three">
                            <a class="collapsed" data-toggle="collapse" data-parent="#home-faq-accordion" href="#home-collapse-three" aria-expanded="false" aria-controls="home-collapse-three">
                                <div class="mb-0">
                                    {{ header.home_faq_question.three }}
                                </div>
                            </a>
                        </div>
                        <div id="home-collapse-three" class="collapse" role="tabpanel" aria-labelledby="home-heading-three" data-parent="#home-faq-accordion">
                            <div class="card-body">
                                {{ header.home_faq_answer.three }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card">
                    {% if header.home_faq_question.four != '' %}
                        <div class="card-header" role="tab" id="home-heading-four">
                            <a class="collapsed" data-toggle="collapse" data-parent="#home-faq-accordion" href="#home-collapse-four" aria-expanded="false" aria-controls="home-collapse-four">
                                <div class="mb-0">
                                    {{ header.home_faq_question.four }}
                                </div>
                            </a>
                        </div>
                        <div id="home-collapse-four" class="collapse" role="tabpanel" aria-labelledby="home-heading-four" data-parent="#home-faq-accordion">
                            <div class="card-body">
                                {{ header.home_faq_answer.four }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card">
                    {% if header.home_faq_question.five != '' %}
                        <div class="card-header" role="tab" id="home-heading-five">
                            <a class="collapsed" data-toggle="collapse" data-parent="#home-faq-accordion" href="#home-collapse-five" aria-expanded="false" aria-controls="home-collapse-five">
                                <div class="mb-0">
                                    {{ header.home_faq_question.five }}
                                </div>
                            </a>
                        </div>
                        <div id="home-collapse-five" class="collapse" role="tabpanel" aria-labelledby="home-heading-five" data-parent="#home-faq-accordion">
                            <div class="card-body">
                                {{ header.home_faq_answer.five }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="nav frequently-btn">
            <a href="{{ url ('faq') }}" class="nav-link">see more</a>
        </div>
    </div>
</section>
{% endblock %}
