{% extends 'partials/base.html.twig' %}
{% block content %}
    <header class="pricehead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <h1 class="brand-heading">{{ page.header.pricing_title }}</h1>
                    <div class="nokidding">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row start-content">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 start-check">
                    <div class="start-title">{{ page.header.pricing_list_slogan }}</div>
                    <div class="start-explain">{{ page.header.pricing_list_title }}</div>
                    <ul class="start-list">
                        {% for pricinglist in page.header.pricinglist %}
                            {% if pricinglist != '' %}
                                <li><i class="far fa-check-circle"></i> {{ pricinglist }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6 price-mac">
                    <img src="{{ url('theme://images/macbook-pro.png', true) }}" alt="macbook">
                </div>
            </div>
        </div>
    </section>
    <section class="pricing-check">
        <div class="container">
            <div class="row">
                <div class="nokidding">{{ page.header.pricing_trial_text }}</div>
                <div class="start-select">
                    Select what website(s) you want to include in your plan.
                </div>
                <div class="price-check">
                    <ul>
                        <li class="price-checkbox">
                            <input class="styled-checkbox site-checkbox" type="checkbox" id="selling-check" checked>
                            <label for="selling-check"><span>Selling Website</span></label>
                        </li>
                        <li class="price-checkbox">
                            <input class="styled-checkbox site-checkbox" type="checkbox" id="repair-check">
                            <label for="repair-check"><span>Repair / Unlock Website</span></label>
                        </li>
                        <li class="price-checkbox">
                            <input class="styled-checkbox site-checkbox" type="checkbox" id="buyback-check">
                            <label for="buyback-check"><span>Buyback Website</span></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="start-switch">
        <div class="container">
            <div class="switch">
                <input type="radio" class="switch-input" name="billing" value="monthly" id="month" checked>
                <label for="month" class="switch-label switch-label-off">MONTHLY BILLING</label>
                <input type="radio" class="switch-input" name="billing" value="yearly" id="year">
                <label for="year" class="switch-label switch-label-on">YEARLY BILLING</label>
                <span class="switch-selection"></span>
            </div>
        </div>
    </section>
    <section class="threewebsite">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 site-select-responsive">
                    <div class="site-select imgshadow">
                        <div class="site-title"><span class="dotted">Single Website</span></div>
                        <div class="price"><span class="orange-price" id="single-price">${{ header.monthly_price.one }}</span><span class="price-monthly"> / monthly</span></div>
                        <div class="small"><span>+ One time setup fee of <b>${{ header.fee.one }}</b></span></div>
                        <div class="first-unlimited"><b class="black">Unlimited</b> {{ header.price.unlimited_one.line_one }}</div>
                        <div class="center-unlimited"><b class="black">Unlimited</b> {{ header.price.unlimited_one.line_two }}</div>
                        <div class="last-unlimited"><span><b class="black">Unlimited</b> {{ header.price.unlimited_one.line_three }}</span></div>
                        <div class="price-decrip">
                            <div>Custom Domain <b class="black">$10</b></div>
                            <div><b class="black">$0</b> Transaction fees</div>
                            <div>Includes full tools suite</div>
                            <div><b class="black">Free</b> SSL certificate</div>
                            <div>Customer Support</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 site-select-responsive">
                    <div class="site-select imgshadow">
                        <div class="site-title"><span>Double Website</span></div>
                        <div class="price"><span class="orange-price" id="double-price">${{ header.monthly_price.two }}</span><span class="price-monthly"> / monthly</span></div>
                        <div class="small"><span>+ One time setup fee of <b>${{ header.fee.two }}</b></span></div>
                        <div class="first-unlimited"><b class="black">Unlimited</b> {{ header.price.unlimited_two.line_one }}</div>
                        <div class="center-unlimited"><b class="black">Unlimited</b> {{ header.price.unlimited_two.line_two }}</div>
                        <div class="last-unlimited"><span><b class="black">Unlimited</b> {{ header.price.unlimited_two.line_three }}</span></div>
                        <div class="price-decrip">
                            <div>Custom Domain <b class="black">$10</b></div>
                            <div><b class="black">$0</b> Transaction fees</div>
                            <div>Includes full tools suite</div>
                            <div><b class="black">Free</b> SSL certificate</div>
                            <div>Customer Support</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 site-select-responsive">
                    <div class="site-select imgshadow">
                        <div class="site-title"><span class="dotted">Triple Website</span></div>
                        <div class="price"><span class="orange-price" id="triple-price">${{ header.monthly_price.three }}</span><span class="price-monthly"> / monthly</span></div>
                        <div class="small"><span>+ One time setup fee of <b>${{ header.fee.three }}</b></span></div>
                        <div class="first-unlimited"><b class="black">Unlimited</b> {{ header.price.unlimited_three.line_one }}</div>
                        <div class="center-unlimited"><b class="black">Unlimited</b> {{ header.price.unlimited_three.line_two }}</div>
                        <div class="last-unlimited"><span><b class="black">Unlimited</b> {{ header.price.unlimited_three.line_three }}</span></div>
                        <div class="price-decrip">
                            <div>Custom Domain <b class="black">$10</b></div>
                            <div><b class="black">$0</b> Transaction fees</div>
                            <div>Includes full tools suite</div>
                            <div><b class="black">Free</b> SSL certificate</div>
                            <div>Customer Support</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pricing-check" id="register-section">
        <div class="container">
            <div class="row">
                <div class="pricing-singup">
                    <div class="interface">
                        <form action="#" data-toggle="validator" method="post" accept-charset="UTF-8">
                            <button class="btn btn-primary btn-block btn-lg" type="button" data-toggle="modal" data-target=".register-modal">sign up</button>
                        </form>

                        <div class="modal fade bd-example-modal-md register-modal" tabindex="-1" role="dialog" aria-labelledby="SmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-md sign-up-dialog sign-up-dialog-modal">
                                <div class="modal-content sign-up-modal">
                                    <div class="title">Sign up to 3web1</div>
                                    <form action="#" id="registration-form-api" data-toggle="validator" method="post" accept-charset="UTF-8">
                                        <p>
                                            Please fill out this form, and we'll send you a <br> welcome email so you can verify your email <br> address and sign in.
                                        </p>
                                        <fieldset>
                                            <label> Your name <span class="orange">*</span></label>
                                            <input type="text" class="form-control" placeholder="Enter your first name..." name="user[name]" size="30">
                                            <span class="error" id="empty-name" style="display: none">This is required field</span>
                                            <span class="error" id="invalid-name" style="display: none">Only letters allowed.</span>
                                            <span class="error" id="backend-firstName" style="display: none"></span>
                                            <label> Your name <span class="orange">*</span></label>
                                            <input type="text" class="form-control" placeholder="Enter your last name..." name="user[lname]" size="30">
                                            <span class="error" id="empty-lname" style="display: none">This is required field</span>
                                            <span class="error" id="invalid-lname" style="display: none">Only letters allowed.</span>
                                            <span class="error" id="backend-lastName" style="display: none"></span>
                                            <label> Your email <span class="orange">*</span></label>
                                            <input type="email" class="form-control" placeholder="Enter your email..." name="user[email]" size="30">
                                            <span class="error" id="empty-email" style="display: none">This is required field</span>
                                            <span class="error" id="invalid-email" style="display: none">Invalid email</span>
                                            <span class="error" id="backend-email" style="display: none"></span>
                                            <label> Store name <span class="orange">*</span></label>
                                            <input type="text" class="form-control" placeholder="Enter your store..." name="user[store]" size="30">
                                            <span class="error" id="empty-store" style="display: none">This is required field</span>
                                            <span class="error" id="invalid-store" style="display: none">Allowed letters and "-".</span>
                                            <span class="error" id="backend-storeName" style="display: none"></span>
                                            <label> Password <span class="orange">*</span></label>
                                            <input type="password" class="form-control" placeholder="Enter your password..." name="user[password]" size="30">
                                            <span class="error" id="empty-password" style="display: none">This is required field</span>
                                            <span class="error" id="backend-plainPassword" style="display: none"></span>
                                            <button class="btn btn-primary btn-block btn-lg" type="button" id="register">register</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="secure-connection">Your credentials will be sent over a secure connection</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Four-options Section -->
    <section class="pricing-four-options">
        <div class="container">
            <div class="nokidding">
                No kidding, setup a beautiful website with powerful
                backend tools for your business in minutes.
            </div>
            <div class="row price-table-options">
                <div class="col-sm-6 col-xs-12 price-content-table">
                    <div class="img-wrap">
                        {{ page.media[header.price.options_icon_one|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.price.options_title_one }}</div>
                        <p>{{ header.price.options_text_one }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 price-content-table price-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.price.options_icon_two|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.price.options_title_two }}</div>
                        <p>{{ header.price.options_text_two }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 price-content-table price-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.price.options_icon_three|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.price.options_title_three }}</div>
                        <p>{{ header.price.options_text_three }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 price-content-table price-content-bordleft price-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.price.options_icon_four|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.price.options_title_four }}</div>
                        <p>{{ header.price.options_text_four }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="price-last-layer">
        <div class="container">
            <div class="row">
                <div class="img-last-layer">
                    <img src="{{ url('theme://images/price-last-layer.png', true) }}" alt="repair">
                </div>
            </div>
        </div>
    </section>
    <script>
        (function(){
            'use strict';
            var billingElements = document.querySelectorAll(".switch-input");
            var singlePrice = document.getElementById('single-price');
            var doublePrice = document.getElementById('double-price');
            var triplePrice = document.getElementById('triple-price');
            var siteCheckboxes = document.querySelectorAll(".site-checkbox");
            var registerSection = document.getElementById('register-section');
            var sellingCheck = document.getElementById('selling-check');
            var buybackCheck = document.getElementById('buyback-check');
            var repairCheck = document.getElementById('repair-check');

            billingElements.forEach(function(item) {
                item.addEventListener("change", function() {
                    singlePrice.innerHTML = item.value === 'yearly' ? '${{ header.yearly_price.one }}' : '${{ header.monthly_price.one }}';
                    doublePrice.innerHTML = item.value === 'yearly' ? '${{ header.yearly_price.two }}' : '${{ header.monthly_price.two }}';
                    triplePrice.innerHTML = item.value === 'yearly' ? '${{ header.yearly_price.three }}' : '${{ header.monthly_price.three }}';
                });
            });

            siteCheckboxes.forEach(function (item) {
                item.addEventListener("change", function() {
                    if (sellingCheck.checked || repairCheck.checked || buybackCheck.checked) {
                        registerSection.style.display = 'block';
                    } else {
                        registerSection.style.display = "none";
                    }
                })
            });

            var form = document.getElementById('registration-form-api');
            form['user[name]'].addEventListener('input', function () {
                document.getElementById('empty-name').style.display = 'none';
                document.getElementById('invalid-name').style.display = 'none';
                document.getElementById('backend-firstName').style.display = 'none';
            });
            form['user[lname]'].addEventListener('input', function () {
                document.getElementById('empty-lname').style.display = 'none';
                document.getElementById('invalid-lname').style.display = 'none';
                document.getElementById('backend-lastName').style.display = 'none';
            });
            form['user[email]'].addEventListener('input', function () {
                document.getElementById('empty-email').style.display = 'none';
                document.getElementById('invalid-email').style.display = 'none';
                document.getElementById('backend-email').style.display = 'none';
            });
            form['user[password]'].addEventListener('input', function () {
                document.getElementById('empty-password').style.display = 'none';
                document.getElementById('backend-plainPassword').style.display = 'none';
            });
            form['user[store]'].addEventListener('input', function () {
                document.getElementById('empty-store').style.display = 'none';
                document.getElementById('invalid-store').style.display = 'none';
                document.getElementById('backend-storeName').style.display = 'none';
            });

            var submit = false;
            document.getElementById('register').addEventListener('click', function () {
                var errors = false;

                if (!form['user[name]'].value) {
                    errors = true;
                    document.getElementById('empty-name').style.display = 'block';
                } else {
                    if (form['user[name]'].value.search(/^[a-zA-Z]{2,}$/) === -1) {
                        errors = true;
                        document.getElementById('invalid-name').style.display = 'block';
                    }
                }

                if (!form['user[lname]'].value) {
                    errors = true;
                    document.getElementById('empty-lname').style.display = 'block';
                } else {
                    if (form['user[lname]'].value.search(/^[a-zA-Z]{2,}$/) === -1) {
                        errors = true;
                        document.getElementById('invalid-lname').style.display = 'block';
                    }
                }
                if (!form['user[email]'].value) {
                    errors = true;
                    document.getElementById('empty-email').style.display = 'block';
                } else {
                    if (form['user[email]'].value.search(/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i) === -1) {
                        errors = true;
                        document.getElementById('invalid-email').style.display = 'block';
                    }
                }

                if (!form['user[password]'].value) {
                    errors = true;
                    document.getElementById('empty-password').style.display = 'block';
                }

                if (!form['user[store]'].value) {
                    errors = true;
                    document.getElementById('empty-store').style.display = 'block';
                } else {
                    if (form['user[store]'].value.search(/^([0-9]|[a-zA-Z]|\-)+$/) === -1) {
                        errors = true;
                        document.getElementById('invalid-store').style.display = 'block';
                    }
                }

                if (!errors && !submit) {
                    // submit = true;
                    var xhr = new XMLHttpRequest();

                    var json = JSON.stringify({
                        user: {
                            firstName: form['user[name]'].value,
                            lastName: form['user[lname]'].value,
                            email: form['user[email]'].value,
                            storeName: form['user[store]'].value,
                            plainPassword: form['user[password]'].value
                        },
                        sellingSite: sellingCheck.checked,
                        buyingSite: buybackCheck.checked,
                        repairingSite: repairCheck.checked,
                        billingPeriodUnit: document.getElementById('month').checked ? 2 : 3
                    });

                    xhr.open('POST', 'https://3w1.website/admin/register-api', true);
                    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                    xhr.onreadystatechange = function () {
                        if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 201) {
                            window.location.href = 'https://3w1.website/admin/dashboard';
                        } else {
                            var response = JSON.parse(xhr.response);
                            for (var key in response) {
                                if (response.hasOwnProperty(key)) {
                                    document.getElementById('backend-' + key).innerText = response[key];
                                    document.getElementById('backend-' + key).style.display = 'block';
                                }
                            }
                        };
                        submit = false;
                    };

                    xhr.send(json);
                }
            });
        })();
    </script>
{% endblock %}