{% extends 'features.html.twig' %}
{% block feature_content %}
    <div class="features-content">
        <h1 class="features-content-title">{{ header.support_center.title }}</h1>
        <div class="features-nokidding">{{ page.content }}</div>
        <div class="container features-content-container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 features-content-table">
                    <div class="img-wrap">
                        {{ page.media[header.support_center.description.img_one|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.support_center.description.title_one }}</div>
                        <p>{{ header.support_center.description.text_one }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.support_center.description.img_two|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.support_center.description.title_two }}</div>
                        <p>{{ header.support_center.description.text_two }}</p>
                    </div>
                </div>
                <div class="features-bottom-block"></div>
            </div>
        </div>
    </div>
{% endblock %}
