{% extends 'partials/base.html.twig' %}
{% block content %}
    {{ page.content }}
    <header class="supporthead">
        <div class="intro-body">
            <div class="container">
                <div class="brand-heading">WANT <span class="orange">SUP</span>PORT</div>
                <div id="support-search">
                    <form action="" method="post" class="search">
                        <input type="search" name="" placeholder="Search here..." class="input" />
                        <input type="submit" name="" value="" class="submit" />
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="support-main-content">
        <div class="container support-nav-block">
            <div class="row support-nav">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 support-nav-btn" onClick="document.location='#'">
                    <div><i class="fa fa-cog fa-3x features-fa" aria-hidden="true"></i></div>
                    <div class="fa-descr">Customize Website<br>& Application</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 support-nav-btn" onClick="document.location='#'">
                    <div><i class="fa fa-file fa-3x features-fa" aria-hidden="true"></i></div>
                    <div class="fa-descr">How to Use <br>Tools</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 support-nav-btn" onClick="document.location='#'">
                    <div><i class="fa fa-eye fa-3x features-fa" aria-hidden="true"></i></div>
                    <div class="fa-descr">Owerview <br>of 3web1</div>
                </div>
            </div>
        </div>
    </section>
    <section class="support-post">
        <div class="container">
            <div class="row">
                <div class="support-title">Recent Activity</div>
                <div class="support-nokidding">
                    No kidding, setup a beautiful website with powerful backend tools for your business in minutes.
                </div>
                <div class="support-post-list">
                    <ul class="support-ul">
                        <li>
                            <div class="support-blue-list">Disclaimers</div>
                            <div class="li-border-bottom">Edit Invoice and Website Disclaimers<span class="post-created-date">Article created <b>1 mounth ago <i class="far fa-comment-alt" aria-hidden="true"></i>2k</b></span></div>
                        </li>
                        <li>
                            <div class="support-blue-list">Getting started with 3web1</div>
                            <div class="li-border-bottom">Mobile Version<span class="post-created-date">Article created <b>1 mounth ago <i class="far fa-comment-alt" aria-hidden="true"></i>2k</b></span></div>
                        </li>
                        <li>
                            <div class="support-blue-list">Setup Locations Settings</div>
                            <div class="li-border-bottom">Business Location setup<span class="post-created-date">Article created <b>1 mounth ago <i class="far fa-comment-alt" aria-hidden="true"></i>2k</b></span></div>
                        </li>
                        <li>
                            <div class="support-blue-list">Application Overview</div>
                            <div class="li-border-bottom">Frequently used Terms and definitions<span class="post-created-date">Article created <b>1 mounth ago <i class="far fa-comment-alt" aria-hidden="true"></i>2k</b></span></div>
                        </li>
                        <li>
                            <div class="support-blue-list">Testimonials Settings</div>
                            <div class="li-border-bottom">Adding Testimonials<span class="post-created-date">Article created <b>1 mounth ago <i class="far fa-comment-alt" aria-hidden="true"></i>2k</b></span></div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 support-see-more">
                    <a href="#">See more</a>
                </div>
                <div class="support-nokidding">
                    Try free for 14-days. You can change plans anytime. No Credit card required.
                </div>
            </div>
        </div>
    </section>
    <section class="support-macbook">
        <div class="container">
            <div>
                <img src="{{ url('theme://images/macbook-pro.png', true) }}" alt="macbook" class="img-responsive">
            </div>
            <div class="support-buttons">
                <div><a href="{{ url ('features/websites') }}" class="support-btn">See all Features</a></div>
                <div><a href="{{ url ('pricing') }}" class="support-btn">Free 14 Day trial</a></div>
            </div>
        </div>
    </section>
    <section class="support-last-layer">
        <div class="container">
            <div class="row last-layer-content">
                <div class="col-12">
                    <div class="img-last-layer">
                        <img src="{{ url('theme://images/price-last-layer.png', true) }}" alt="repair">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}