{% extends 'features.html.twig' %}
{% block feature_content %}
    <div class="features-content">
        <h1 class="features-content-title">{{ header.websites.title }}</h1>
        <div class="features-nokidding">{{ page.content }}</div>
        <div class="container features-content-container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 features-content-table">
                    <div class="img-wrap">
                        {{ page.media[header.websites.description.img_one|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.websites.decription.title_one }}</div>
                        <p>{{ header.websites.description.text_one }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordleft">
                    <div class="img-wrap">
                        {{ page.media[header.websites.description.img_two|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.websites.description.title_two }}</div>
                        <p>{{ header.websites.description.text_two }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.websites.description.img_three|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.websites.description.title_three }}</div>
                        <p>{{ header.websites.description.text_three }}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 features-content-table features-content-bordleft features-content-bordtop">
                    <div class="img-wrap">
                        {{ page.media[header.websites.description.img_four|first.name] }}
                    </div>
                    <div class="txt-wrap">
                        <div>{{ header.websites.description.title_four }}</div>
                        <p>{{ header.websites.description.text_four }}</p>
                    </div>
                </div>
                <div class="features-bottom-picture">
                    {{ page.media[header.websites.img|first.name] }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
